
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: rgba(#000, .8);
}
a {
  color: #0084b4;
  cursor: pointer;
}


.thing {
  opacity: 1;
  transition: .3s;
  &.disabled {
    opacity: .5;
  }
}