body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: rgba(0, 0, 0, 0.8); }

a {
  color: #0084b4;
  cursor: pointer; }

.thing {
  opacity: 1;
  -webkit-transition: .3s;
          transition: .3s; }
  .thing.disabled {
    opacity: .5; }
